server:
  port: 2333
  address: 0.0.0.0

lavalink:
  server:
    password: "hbmusicbotlavalink_354248164"
    sources:
      youtube: true
      soundcloud: true
      bandcamp: true
      twitch: true
      vimeo: true
      http: true

logging:
  level:
    root: INFO
